header {
  background-color: rgb(231, 232, 233);
}

.header-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 25px var(--padding-vertical);
}

.logo {
  width: 250px;
}

.cta {
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  box-sizing: border-box;
  width: 140px;

  padding: 12px 25px;

  background-color: var(--primary);
  color: white;

  border-radius: 6px;

  transition: background-color 0.3s;
}

.cta:hover {
  background-color: var(--secondary);
}

.cta-hamburger-flexbox {
  display: flex;

  flex-direction: row;

  align-items: center;

  gap: 50px;
}

.hamburger {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  width: 60px;
  height: 40px;

  transition: height 0.3s;
}

.hamburger:hover {
  height: 45px;

  cursor: pointer;
}

.hamburger:hover .hamburger-divides {
  background-color: var(--secondary);
}

.hamburger-divides {
  width: 100%;
  height: 6px;

  background-color: var(--primary);
  
  transition: background-color 0.3s;
}

/* Dropdown menu */

#dropdown-menu {
  display: none;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: rgb(231, 232, 233);

  padding: 30px var(--padding-vertical) 50px var(--padding-vertical);

  border-top: 1px solid rgb(175, 175, 175);
}

.arrow {
  margin-left: 10px;

  transition: color 0.15s, margin 0.15s;
}

#dropdown-menu a {
  text-decoration: none;

  color: black;
}

#dropdown-menu a:hover .arrow {
  color: var(--secondary);

  margin-left: 20px;
}

#dropdown-menu ul {
  font-size: 20px;
  font-weight: 500;
  
  list-style-type: none;

  padding: 0;
  margin: 0;
}

#dropdown-menu li {
  margin: 15px 0;
}

.divide {
  width: 100%;

  border-top: 1px solid rgb(175, 175, 175);
}